/node_modules
/.idea
/config_override.php
/test/templates_c/v7/*.php
/setup/done/*.php
/vendor
/storage/licenses/*
!/storage/licenses/.*
/test/vtlib/*.zip
/storage/composer/cache
/cache/templates_c/v7/*.php
/test/vtlib/HTML/*.ser
/storage/config/coresettings/*.jpg
/modules/PDFGenerator/fonts/*
!/modules/PDFGenerator/fonts/.*
/modules/PDFGenerator/resources/*
!/modules/PDFGenerator/resources/.*
/modules/PDFGenerator/requirements.done
/modules/SWSearchPlus/patcher/backup/*/
/modules/SWEditPermission/patcher/backup/*/
/modules/SWSearchPlus/patcher/cache/*.patch
/modules/SWEditPermission/patcher/cache/*.patch
/test/RedooModuleDesigner/*.zip
/test/RedooModuleDesigner/*.mod
/test/RedooModuleDesigner
/.env
/languages/custom
/test/RedooDashboard
/assets/img/logo.png
/tabdata.php
/user_privileges/sharing_privileges_1.php
/user_privileges/user_privileges_1.php
